@model the_website_test.Models.News

@{
    ViewBag.Title = "Details";
}
<!--Start news home-->
<div class="News-Home">
    <div class="container-fliud">
        <div class="row">
            <div class="col">
                <div class="search-bar">
                    <button class="btn btn-secondary dropdown-toggle button-dropdown-search-News col-md-2" type="button" id="dropdownMenuButton " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All news
                    </button>
                    <div class="dropdown-menu col-md-2" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="../html/News.html">All news</a>
                        <a class="dropdown-item" href="#">Colage news </a>
                        <a class="dropdown-item" href="#">Alumni news</a>
                        <a class="dropdown-item" href="#">Community news  </a>
                        <a class="dropdown-item" href="#">Research news  </a>
                        <a class="dropdown-item" href="#">Sport news  </a>
                        <a class="dropdown-item" href="#">Student news </a>
                    </div>
                    <input type="search" class="Search-input col-md-2" id="search_news" placeholder="Keyword">
                    <a class="btn btn-default addNews" href="../../AddNews/html/AddNews.html">AddNews</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end news home-->
<!--start main news-->
<div class="About-news">
    <div class="container">
        <div class="row">
            <div class="News-item">
                <div class="card mb-3" style="max-width: 1000px; max-height: :1200px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="@Model.Image_path" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h1 class="card-title">@Model.Title</h1>
                                <h4 class="sub-title">@Model.CreatedAt</h4>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div role="separator" class="divider"></div>
                            <p class="card-text ">@Model.Body</p>
                        </div>
                        <a href="/News/Edit/@Model.ID" class="btn btn-primary long">Edit</a>
                        <a href="News/Delete/@Model.ID" class="btn btn-primary long">Delete</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--End main news-->

@*<h2>Details</h2>

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
