@model IEnumerable<the_website_test.Models.News>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@item.Image_path" alt="Card image cap">
                    <a href="/Details/@item.ID" class="btn btn-primary long">Find out more</a>

                    <div role="separator" class="divider"></div>
                    <div class="card-body">
                        <h3 class="card-title"> @item.Title</h3>
                        <h5 class="sub-title">@item.CreatedAt</h5>
                        <p>
                            @item.Body
                        </p>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
        @*<h2>Index</h2>

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Body)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th></th>
                </tr>

            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Body)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                    </td>
                </tr>
            }

            </table>*@
