@model the_website_test.Models.Students
@using the_website_test.Models;

@{
    ViewBag.Title = "SubjectRegisteration";
}
@Html.Partial("AccountCategories", Model)

<div class="Cv col-xl-8">
    <h4 style=" color:red">finished subjects</h4>

    <table class="table">
        <tr>
            <th>
                subName
            </th>
            <th>
                code
            </th>
            <th>
                GPA
            </th>


        </tr>

        @foreach (var item in ViewData["finished1"] as List<subjectsWithMark>)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mark)
                </td>


            </tr>
        }

    </table>



    <h4 style=" color:red">Unfinished subjects</h4>

    <table class="table">
        <tr>
            <th>
                subName
            </th>
            <th>
                code
            </th>
            <th>
                credit_hours
            </th>


        </tr>

        @foreach (var item in ViewData["unfinished"] as List<Subjects>)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NHours)
                </td>


            </tr>
        }

    </table>



    <h4 style=" color:red">Enabled subjects</h4>

    <table class="table">
        <tr>
            <th>
                subName
            </th>
            <th>
                code
            </th>
            <th>
                credit_hours
            </th>


        </tr>

        @foreach (var item in ViewData["Enabled"] as List<Subjects>)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NHours)
                </td>

            </tr>
        }

    </table>
</div>
 </div>
            </div>