@model the_website_test.Models.Events

@{
    ViewBag.Title = "Edit";
}
<!--Start form-->
<form action="/Events/Edit/2" method="post">
    <input name="__RequestVerificationToken" type="hidden" value="Cs6IDUnaHSKXSe6_aJkY_jixALG376pRRMiZtH3NkeHKA9VorbpgYIF3CJqRzIAYbzju9Lr5usKMLjYEtl0Usw-ZrRjrGCLZxmoa7PQ2MZ81" />    

        <fieldset>
            <h2>Edit Event</h2>

            <label  class="col-lg-3">Title</label>
            <br>
            <textarea name="Title" rows="1" cols="133" class="Event-title">@Model.Title</textarea>
            <br>
            <label class="col-lg-3">Date</label>
            <br>
            <textarea rows="1" cols="133" class="date"></textarea>
            <br>
            <label class="col-lg-3">Facebook link</label>
            <br>
            <textarea name="FBLink" rows="1" cols="133" placeholder="Put Facebook link" class="Facebook-link">@Model.FBLink</textarea>
            <br>
            <label class="col-lg-3">Twitter link</label>
            <br>
            <textarea name="TwitterLink" rows="1" cols="133" placeholder="Put Twitter link" class="Twitter-link">@Model.TwitterLink</textarea>
            <br>
            <label class="col-lg-3">Small pragraph</label>
            <br>
            <textarea name="Description" rows="2" cols="133" placeholder="Put small pragraph" class="Small-pragraph">@Model.Description</textarea>
            <br>
            <label class="col-lg-3">Full pragraph</label><br>
            <textarea name="Body" rows="6" cols="133" placeholder="Put full pragraph" class="Full pragraph">@Model.Body</textarea><br>
            <input type="submit" value="Save" class="save-button">
        </fieldset>
        <br>
</form>

@*<h2>Edit</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Events</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FBLink, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FBLink, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FBLink, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TwitterLink, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TwitterLink, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TwitterLink, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
